<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/projeto_back</property>
        <property name="hibernate.connection.username">project2</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
<!--        <property name="hibernate.show_sql">true</property>-->

        <mapping class="org.project.model.mapping.LineTable"/>
        <mapping class="org.project.model.mapping.CategoryTable"/>
        <mapping class="org.project.model.mapping.ModelTable"/>

    </session-factory>
</hibernate-configuration>